---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}img/bg-0{{ page.date | date:"%d" | modulo:site.headerImageCount | plus:1 }}.jpg{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <hr>

                {% if page.categories or page.tags %}
                    <p>
                    {% if page.categories %}Posted in {{ page.categories | category_links }}. {% endif %}
                    {% if page.tags %}Tagged in {{ page.tags | tag_links }}.{% endif %}
                    </p>
                {% endif %}

                {% if page.categories contains 'business' or page.categories contains 'programming' %}

                <p><b>Like this post and want more?</b> Sign up now, and get my next post delivered to your inbox. No spam, and you can unsubscribe at any time.</p>

                <form id="formNewletter" action="https://www.getdrip.com/forms/1289416/submissions" method="post" data-drip-embedded-form="1289416" novalidate>
                    <input type="hidden" name="fields[category]" value="{{ page.categories }}"/>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" name="fields[email]" placeholder="Email Address" value="" class="form-control"/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default" data-drip-attribute="sign-up-button" form="formNewletter">Sign Up</button>
                        </div>
                    </div>
                </form>                
                {% endif %}

                {% if site.related_posts.size > 1 %}
                    <hr>
                    <h3>Related Articles</h3>
                    <ul>
                    {% for post in site.related_posts limit: site.related_posts_count %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<p>&nbsp;</p>
