---
layout: page
---

{% for post in site.tags[page.tag] %}
    <!--- Post Starts -->
    <div class="post-preview">
        
        <h2 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        {{ post.excerpt | markdownify }}

        <p><a href="{{ post.url | prepend: site.baseurl }}">Continue reading &rarr;</a></p>

        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}{% if post.categories %} in {{ post.categories | category_links }}{% endif %}.
        {% if post.tags %}
            Tagged in {{ post.tags | tag_links }}.
        {% endif %}
        </p>
    </div>
    <hr>
    <!--- Post Ends -->
{% endfor %}
